@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
/* --- Variables --- */
/* --- Mixins --- */
/* --- Globals --- */
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: lavender;
}

body h2 {
  font-family: "Lobster Two";
  font-size: 3rem;
  font-weight: 700;
}

body section h3 {
  font-family: "Lobster Two";
}

/* --- Navbar --- */
header .navbar {
  background: -webkit-gradient(linear, left top, right bottom, from(#bfabcb), to(#8d89a6));
  background: linear-gradient(to bottom right, #bfabcb, #8d89a6);
  -webkit-box-shadow: 0 5px 5px #bbb;
          box-shadow: 0 5px 5px #bbb;
}

/* --- Landing page --- */
.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: calc(100vh - 130px);
  background-image: url(../assets/photos/pexels-rebecca-zaal-764681.jpg);
  background-size: cover;
  background-position: center;
}

.landing .landing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}

.landing .landing-content h1 {
  position: relative;
  left: 1.5rem;
  font-family: "Satisfy";
  font-size: 5rem;
}

.landing .landing-content h1 .h1-small {
  display: block;
  position: relative;
  left: -4.5rem;
  font-size: 2rem;
}

.landing .landing-content p {
  font-style: italic;
  width: 80%;
}

.card {
  background-color: transparent;
  text-align: center;
}

.card .card-img-top {
  width: 60%;
  margin: auto;
}

.card h5 {
  font-family: "Lobster Two";
  font-size: 2rem;
}

footer {
  background-color: #8d89a6;
}

footer h2 {
  font-size: 2rem;
  font-weight: 400;
}

footer a:hover {
  text-decoration: none;
}

footer .fa-facebook:hover {
  color: #4267b2;
  background: white;
  border-radius: 50%;
}

footer .fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .fa-envelope:hover {
  color: #cc3126;
}

#events h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

#events h4 {
  font-size: 2rem;
  font-family: "Lobster Two";
}

#events h5 {
  font-size: 1.2rem;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */