@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");

/* --- Variables --- */
$color1: #8d89a6;
$color2: #bfabcb;
$color3: #e6c0e9;
$color4: #f2d5f8;
$color5: lavender;

$title-font: "Satisfy";
$subtitle-font: "Lobster Two";
$core-font: "Montserrat";

/* --- Mixins --- */
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

/* --- Globals --- */
* {
  font-family: $core-font, sans-serif;
}

body {
  background-color: $color5;
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h1,
  h2,
  h3 {
    font-family: $subtitle-font;
  }
  hr {
    width: 90%;
  }
}

.container hr {
  width: 95%;
}

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: {
    image: url(../assets/photos/pexels-rebecca-zaal-764681.jpg);
    size: cover;
    position: center;
    attachment: fixed;
  }
  /* --- Navbar --- */
  .navbar {
    background: rgba(0, 0, 0, 0.7);
    z-index: 4000;
    .navbar-brand img {
      height: 30px;
    }
    .navbar-nav {
      .nav-item {
        color: $color5;
        border: 2px solid transparent;
        margin-left: 10px;
        font-size: 1.3em;
      }
      .nav-item:hover {
        border-bottom: 2px solid white;
        color: white;
      }
    }
  }
  /* --- Landing page --- */
  .landing-content {
    margin: auto;
    @include flexCenter(column);
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;

    .landing-title {
      position: relative;
      left: 1.5rem;
      font-family: $title-font;
      font-size: 5rem;

      .landing-title-small {
        display: block;
        position: relative;
        left: -4.5rem;
        font-size: 2rem;
      }
    }

    p {
      font-style: italic;
      width: 80%;
    }
  }
}
.ios-bg-fix {
  background-attachment: scroll;
}

#membres .card {
  background-color: transparent;
  text-align: center;
  .card-img-top {
    width: 70%;
    margin: auto;
  }
  h5 {
    font-family: $subtitle-font;
    font-size: 2rem;
  }
}

footer {
  background-color: $color1;
  // box-shadow: 0 -5px 5px $color2;
  h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  a:hover {
    text-decoration: none;
  }

  .fa-facebook:hover {
    color: #4267b2;
    background: white;
    border-radius: 50%;
  }
  .fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fa-envelope:hover {
    color: rgb(204, 49, 38);
  }
}
#events {
  .event {
    a {
      color: black;
      text-decoration: none;
    }
    .event-date {
      background-color: $color1;
      border-radius: 10px 0 0 10px;
      width: 5rem;
      height: 5rem;
    }
    .event-title {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 0 10px 10px 0;

      h2 {
        font-family: $core-font;
        font-size: 1rem;
      }
      .event-place {
        font-size: 0.8rem;
      }
      .fa-map-marker-alt {
        color: red;
      }
      .fa-ellipsis-h {
        display: block;
        position: absolute;
        right: 1rem;
        bottom: 0.5rem;
      }
      .fa-ellipsis-v {
        display: block;
        position: absolute;
        right: 1rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #events {
    .event {
      .event-date {
        width: 5rem;
        height: 5rem;
      }
      .event-title {
        h2 {
          position: relative;
          top: 0.2rem;
          font-size: 1.5rem;
        }
        .event-place {
          font-size: 1rem;
          margin-right: 1rem;

          width: 12rem;
        }
      }
    }
  }
}
