@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");

/* --- Variables --- */
$color1: #8d89a6;
$color2: #bfabcb;
$color3: #e6c0e9;
$color4: #f2d5f8;
$color5: lavender;

$title-font: "Satisfy";
$subtitle-font: "Lobster Two";
$core-font: "Montserrat";

/* --- Mixins --- */
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

/* --- Globals --- */
* {
  font-family: $core-font, sans-serif;
}

body {
  background-color: $color5;
}

/* --- Navbar --- */
.navbar {
  background: linear-gradient(to bottom right, $color2, $color1);
  box-shadow: 0 5px 5px #bbb;

  // .nav-link {
  //   display: block;
  //   color: white;
  //   padding: 0.5rem 1rem;
  //   margin-left: 1rem;
  //   text-align: center;
  //   &:hover {
  //     color: rgba(255, 255, 255, 1);
  //     background-color: rgba(255, 255, 255, 0.2);
  //     text-decoration: underline;
  //   }
  // }
}

/* --- Landing page --- */
.landing {
  @include flexCenter(column);
  width: 100%;
  height: calc(100vh - 130px);
  background: {
    image: url(../assets/photos/pexels-rebecca-zaal-764681.jpg);
    size: cover;
    position: center;
    //attachment: fixed;
  }
  .landing-content {
    @include flexCenter(column);
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;

    h1 {
      position: relative;
      left: 1.5rem;
      font-family: $title-font;
      font-size: 5rem;

      .h1-small {
        display: block;
        position: relative;
        left: -4.5rem;
        font-size: 2rem;
      }
    }

    p {
      font-style: italic;
      width: 80%;
    }
  }
}
h2 {
  font-family: $subtitle-font;
  font-size: 3rem;
  font-weight: 700;
}
section {
  h3 {
    font-family: "Satisfy";
  }
}
.card {
  background-color: transparent;
  text-align: center;
  .card-img-top {
    width: 60%;
    margin: auto;
  }
}
footer {
  background-color: $color1;
  // box-shadow: 0 -5px 5px $color2;
  h2 {
    font-size: 2rem;
    font-weight: 400;
  }
}
